body{
  background-color: lightgray;
}
header, footer{
background-color: darkcyan;
font-family: 'PT Sans', sans-serif;
display:flex;
justify-content: center;
align-items: center;
}
ul{
display:flex;
justify-content: center;
align-items: center;
}
li{
  margin: 10px;
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
}
.one, .two{
  text-align: center;
  margin: 10px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.three{
  background-color: lightcyan;
  text-align: center;
  margin: 10px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

p,h2{
  font-family: 'PT Sans', sans-serif;
}
img{
  padding: 10px;
}